:root {
    direction: ltr;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

* {
    transition: all 0.3s;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.92);
    color: white;
    overflow-x: hidden;
    text-align: center;
    
}


a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 35);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .2);
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li {
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
}

.logo img {
    height: 140px;
}

.navbar li a:hover {
    color: #b70000;

}

.btn{
    font-size: 14px;
    background-color: #1879CA;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    display: block;
    padding: 2px 20px;
    height: 45px; /* Original button height */
    width: 300px; /* Original button width */
    outline: none;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 15px; 
}

.btn:hover {
    background-color: rgb(236, 236, 236);
    color: #1879CA;
}

.btn:focus {
    background-color: rgba(203, 203, 203, 0.6);
}


.car-section {
    display: flex;
    text-align: center;
    padding: 20px;
}

.car-section h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.car-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.car-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border: 1px solid #444;
    border-radius: 15px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.car-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.09);
}

.car-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.car-card .description h2 {
    margin: 10px 0;
    font-size: 22px;
}

.car-card .description span {
    font-size: 14px;
    color: #aaa;
    display: block;
    margin-bottom: 10px;
}

.car-card p {
    margin: 5px 0;
    font-size: 16px;
    gap: 20px;
}

.reset-btn {
    border-radius: 4px;
    width: 30%;
    height: 40px;
    background-color: #098800;
}

.reserve-btn {
    background-color: #1879CA;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.reserve-btn:hover {
    background-color: #fff;
    color: #1879CA;
}


.sidebar {
    width: 310px;
    padding: 20px;
    margin-right: 30px;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #f0f0f0;
}

.sidebar select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #111111;
    color: white;
    border-radius: 3px;
    outline: none;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.disabled {
    display: none;
}