:root {
    direction: ltr;
    position: relative;
    font-family: Roboto, Arial;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.navbar ul{
    display: flex;
}

.navbar :nth-child(2) a:hover{
    color: red;
}

.navbar li{
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar li a:hover{
    color: #1879CA;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 52, 52);
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo img {
    height: 140px;
}

.car-section .car-container .car-card {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border : 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
    margin: 5px 0px;
    transition: box-shadow 0.2s ease;
    position: relative;
}
.car-section .car-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0px 50px 0px 50px;
}

.car-section {
   text-align: center;
}

.car-card img {
    width: 100%;
    border-radius: 20px;
}